@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.footer {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Fredoka', sans-serif;
}

.footer .logo {
    color: #000;
    font-size: 28px;
    font-style: italic;
    cursor: pointer;
}


.footer-navigation {
    color: #4F9485;
    margin-top: 30px;
    font-weight: bold;
}

.footer-navigation span{
    padding: 8px;
    cursor: pointer;
}

.footer-navigation span:hover {
    color: #2D7465;
}

.footer .social-media {
    margin-top: 30px;
}

.footer img{
    padding: 8px;
}